header{
    background-color: black
}
h2{
    font-size: 30px;
    color: white;
}

ul{float: left;
    color:white;
    font-size: 20px;
        }

boder{
    background-color: black;
    color: white;
    font-size: 20px;
}